.btn {
    font-size: 30px;
    text-decoration: none;
    transition: font-size 5s;

    &:hover {
        font-size: 50px;
        text-decoration: underline;
        opacity: .5;
    }
}

// animation
@keyframes anim1 {
    0% {
        opacity: .2;
        transform: translate(100px, -30px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

#box1 {
    animation-name: anim1;
    animation-duration: 5s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
}